/* 【body】 */
body{
  background-color: white;
}

hr {
  width:95%;
}

/*==================
 ▼ブレイクポイントのルール▼
 -スマホを基本設計にする-
 *〜479px：SP縦
 *480px〜：SP横
 *600px〜タブレット
 *960px〜小型PC
 *1280px〜大型PC
==================*/
/* 【container-fluid クラス】*/
/*  画面サイズが480pxまで  */
/* .pageTitle h3 {
 font-size:12px;
}
@media screen and (min-width:480px) and ( max-width:600px) {
    /*　画面サイズが480pxからはここを読み込む　*/
.pageTitle h3 {
  font-size:15px;
}

@media screen and (min-width:600px) and ( max-width:960px) {
    /*　画面サイズが600pxから960pxまではここを読み込む　*/
.pageTitle h3 {
  font-size:20px;
    }
  }

@media screen and (min-width:960px) and ( max-width:1280px) {
    /*　画面サイズが960pxから1280pxまではここを読み込む　*/
.pageTitle h3 {
   font-size:20px;
        }
      }

@media screen and (min-width:1280px) {
    /*　画面サイズが1280pxからはここを読み込む　*/
.pageTitle h3 {
   font-size:20px;
      }
    }




/* 【headerタグ内の項目】 */
header {
  padding:10px 0;
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 1px solid #aaa;
  background: white;
  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

.logoMark {
  height:30px;
  position: relative;
}

.logoData{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 115px;
}

.pageTitle {
  height:35px;
  text-align: right;
}

/* .pageTitleData {
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width:180px;
} */

/* 【containerクラス内の項目】 */

.box {
  padding:20px;
}

.spaceA {
  background-color: red;
  height:50px;
  margin-bottom: 10px;
}

.spaceB {
  background-color: blue;
  height:50px;
  margin-bottom: 10px;
}

/* 【ボタンの仕様】 */
/* .btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
} */
.btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}


/* 【formの仕様】 */
form {
  width:75%;
  margin:0 auto;
}

input {
  margin-bottom:10px;
}

.login-btn{
  text-align:center;
  margin:30px 0px;
}


/* 【footerの仕様】 */
footer {
  border-top: 1px solid #aaa;
  box-shadow: 0 -2px 2px rgba(0,0,0,0.1);
}

.spaceC {
  background-color: white;
  height:50px;
}

.footerBtn {
  text-align: center;
}
